<h2>Import cars</h2>

<%= form_tag import_cars_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<% if @cars.length > 0 %>

  <div class="car-list">
    <div class="header row">
      
    </div>
    <% @cars[0..49].each_with_index do |car, i| %>

      <div class="car row <%= i.even? ? "even" : "odd"%>">
        <img alt="<%= car.lot_number %>" src="http://<%= car.image_thumbnail %>"/>
      </div>
    <% end %>
  </div>





<% end %>
